:root {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Board {
	border: 10px solid black;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

.Square {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Piece {
	display: flex;
	justify-content: center;
	align-items: center;
}

.light {
	background: rgb(239, 217, 181);
}

.dark {
	background: rgb(181, 136, 99);
}

.light.raised {
    box-shadow: var(--raisedSize) var(--raisedSize) rgb(255, 243, 224) inset,
				calc(var(--raisedSize) * -1) calc(var(--raisedSize) * -1) rgb(185, 160, 119) inset;
}

.dark.raised {
	box-shadow: var(--raisedSize) var(--raisedSize) rgb(240, 194, 156) inset,
				calc(var(--raisedSize) * -1) calc(var(--raisedSize) * -1) rgb(143, 99, 64) inset;
}

.light.sunken {
	box-shadow: var(--sunkenSize) var(--sunkenSize) rgb(185, 160, 119) inset,
				calc(var(--sunkenSize) * -1) calc(var(--sunkenSize) * -1) rgb(255, 243, 224) inset;
}

.dark.sunken {
	box-shadow: var(--sunkenSize) var(--sunkenSize) rgb(143, 99, 64) inset,
				calc(var(--sunkenSize) * -1) calc(var(--sunkenSize) * -1) rgb(240, 194, 156) inset;
}

.light.highlighted {
	background: rgb(247, 236, 115);
}

.dark.highlighted {
	background: rgb(217, 196, 76);
}
