:root {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.innerBody {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	cursor: default;
	margin: 25px 0;
}

.serverSettings {
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 10px 0 0;
	border-bottom: 2px solid black;
}

#connectForm,
.serverSettings div {
	display: flex;
	align-items: center;
	padding-right: 5px;
}

#connectForm input {
	width: 135px;
}

#serverStatus {
	display: flex;
	align-items: center;
	margin: 10px;
	width: 1px;
}

#container {
	display: grid;
	grid-template-rows: auto auto auto auto auto auto 1fr;
	grid-template-columns: 1fr auto 1fr;
	grid-template-areas:
		". status ."
		"rules board blackContainer"
		"rules board blackTimer"
		"rules board centerContainer"
		"rules board whiteTimer"
		"rules board whiteContainer"
		"rules footer .";
}

#container.flipped {
	grid-template-areas:
		". status ."
		"rules board whiteContainer"
		"rules board whiteTimer"
		"rules board centerContainer"
		"rules board blackTimer"
		"rules board blackContainer"
		"rules footer .";
}

#container.flipped .whiteContainer {
	flex-direction: column-reverse;
}

#container.flipped #whiteTimer {
	border-top: unset;
	border-bottom: 2px solid black;
}

#container.flipped .blackContainer {
	flex-direction: column-reverse;
}

#container.flipped #blackTimer {
	border-bottom: unset;
	border-top: 2px solid black;
}

#status {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 10px;
	grid-area: status;
}

.footer {
	grid-area: footer;
}

.footer .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
	margin-top: 10px;
}

.rules {
	grid-area: rules;
	display: flex;
	flex-direction: column;
	padding: 0 100px 0 50px;
}

.rules h1 {
	border-bottom: 2px solid black;
	text-align: center;
	margin: 5px 0;
	padding-bottom: 10px;
}

.rulesBody {
	margin: 0 35px 0 15px;
}

.rulesBody li {
	margin: 15px 0;
	font-weight: bold;
}

.rulesBody li > p {
	font-weight: normal;
}

.blackContainer {
	grid-area: blackContainer;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 15px;
	padding: 10px;
	border-left: 2px solid black;
}

.blackContainer > * {
	margin: 5px 0;
}

#blackTimer {
	grid-area: blackTimer;
	display: flex;
	align-items: center;
	margin: 0 15px;
	padding: 0 10px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

.centerContainer {
	grid-area: centerContainer;
	display: flex;
	align-items: center;
	margin: 50px 25px;
}

.centerContainer img {
	width: 20pt;
}

#whiteTimer {
	grid-area: whiteTimer;
	display: flex;
	align-items: center;
	margin: 0 15px;
	padding: 0 10px;
	border-top: 2px solid black;
	border-left: 2px solid black;
}

.whiteContainer {
	grid-area: whiteContainer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	margin: 0 15px;
	padding: 10px;
	border-left: 2px solid black;
}

.whiteContainer > * {
	margin: 5px 0;
}

.Board {
	border: 10px solid black;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-area: board;
}

.Square {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Piece {
	display: flex;
	justify-content: center;
	align-items: center;
}

.light {
	background: rgb(239, 217, 181);
}

.dark {
	background: rgb(181, 136, 99);
}

.light.raised {
    box-shadow: var(--raisedSize) var(--raisedSize) rgb(255, 243, 224) inset,
				calc(var(--raisedSize) * -1) calc(var(--raisedSize) * -1) rgb(185, 160, 119) inset;
}

.dark.raised {
	box-shadow: var(--raisedSize) var(--raisedSize) rgb(240, 194, 156) inset,
				calc(var(--raisedSize) * -1) calc(var(--raisedSize) * -1) rgb(143, 99, 64) inset;
}

.light.sunken {
	box-shadow: var(--sunkenSize) var(--sunkenSize) rgb(185, 160, 119) inset,
				calc(var(--sunkenSize) * -1) calc(var(--sunkenSize) * -1) rgb(255, 243, 224) inset;
}

.dark.sunken {
	box-shadow: var(--sunkenSize) var(--sunkenSize) rgb(143, 99, 64) inset,
				calc(var(--sunkenSize) * -1) calc(var(--sunkenSize) * -1) rgb(240, 194, 156) inset;
}

.light.highlighted {
	background: rgb(247, 236, 115);
}

.dark.highlighted {
	background: rgb(217, 196, 76);
}

.light.raised.highlighted {
    box-shadow: var(--raisedSize) var(--raisedSize) rgb(255, 250, 194) inset,
				calc(var(--raisedSize) * -1) calc(var(--raisedSize) * -1) rgb(206, 195, 78) inset;
}

.dark.raised.highlighted {
	box-shadow: var(--raisedSize) var(--raisedSize) rgb(245, 224, 109) inset,
				calc(var(--raisedSize) * -1) calc(var(--raisedSize) * -1) rgb(167, 149, 48) inset;
}

.light.sunken.highlighted {
	box-shadow: var(--sunkenSize) var(--sunkenSize) rgb(206, 195, 78) inset,
				calc(var(--sunkenSize) * -1) calc(var(--sunkenSize) * -1) rgb(255, 250, 194) inset;
}

.dark.sunken.highlighted {
	box-shadow: var(--sunkenSize) var(--sunkenSize) rgb(167, 149, 48) inset,
				calc(var(--sunkenSize) * -1) calc(var(--sunkenSize) * -1) rgb(245, 224, 109) inset;
}
